services:
  server:
    build: .
    container_name: ai-chat-server
    restart: always
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: ${PORT}

      MONGO_URI: ${MONGO_URI}
      QDRANT_URL: ${QDRANT_URL}

      JWT_SECRET: ${JWT_SECRET}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
      ACCESS_TOKEN_EXPIRY: ${ACCESS_TOKEN_EXPIRY}
      REFRESH_TOKEN_EXPIRY: ${REFRESH_TOKEN_EXPIRY}

      AI_PROVIDER: ${AI_PROVIDER}

      GEMINI_API_KEY: ${GEMINI_API_KEY}
      GEMINI_MODEL: ${GEMINI_MODEL}

      OLLAMA_BASE_URL: ${OLLAMA_BASE_URL}
      OLLAMA_MODEL: ${OLLAMA_MODEL}

      CORS_ORIGIN: ${CORS_ORIGIN}
      LOG_LEVEL: ${LOG_LEVEL}
    depends_on:
      mongo:
        condition: service_started
      qdrant:
        condition: service_started
    networks:
      - ai-network

  mongo:
    image: mongo:7
    container_name: mongo-db
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - '27017:27017'
    networks:
      - ai-network

  qdrant:
    image: qdrant/qdrant:v1.16.0
    container_name: qdrant-db
    restart: always
    volumes:
      - qdrant_storage:/qdrant/storage
    ports:
      - '6333:6333'
    networks:
      - ai-network

networks:
  ai-network:

volumes:
  mongo_data:
  qdrant_storage:
